import(Matrix)
import(kinship2)
import(CompQuadForm)
import(survey)
importFrom("stats", "cor", "dbeta", "pchisq", "var")
importFrom("utils", "sessionInfo")
export(pedgene,
       pedgene.stats,
       quadfactor,
       print.pedgene, summary.pedgene,
       pedigreeChecks)
S3method(print, pedgene)
S3method(summary, pedgene)

